# SDF extraction
write_sdf final.sdf
write_sdf -abstracted_model final_gls.sdf

# Save Netlist
saveNetlist -excludeLeafCell final.v
#
# Run DRC and Connection checks
verifyGeometry
verifyConnectivity -type all -noAntenna

#set_global report_timing_format {hpin cell slew delay arrival}
set_global report_timing_format {instance arc cell net fanout load slew delay incr_delay arrival required}
report_timing -net -max_paths 500 > $vars(rpt_dir)/timing.rpt
report_timing -net -max_paths 10 -nworst 1 > $vars(rpt_dir)/timing.critical.rpt
report_area > $vars(rpt_dir)/area.rpt

# Output GDSII
streamOut final.gds -mapFile streamOut.map -stripes 1 -units 1000 -mode ALL
#streamOut final_merged.gds -units 2000 -mode ALL -merge ../../../../lib/TRACK_VARIANT/gds/*

defOut -floorplan -routing final.def
