[submodule "xschem"]
	path = xschem
	url = https://github.com/StefanSchippers/xschem.git
[submodule "magic"]
	path = magic
	url = https://github.com/RTimothyEdwards/magic.git
[submodule "netgen"]
	path = netgen
	url = https://github.com/RTimothyEdwards/netgen.git
[submodule "xschem-gaw"]
	path = xschem-gaw
	url = git@github.com:StefanSchippers/xschem-gaw.git
[submodule "ngspice"]
	path = ngspice
	url = git@github.com:ngspice/ngspice.git
[submodule "OpenROAD-flow-scripts"]
	path = OpenROAD-flow-scripts
	url = git@github.com:The-OpenROAD-Project/OpenROAD-flow-scripts.git
