*
* Techgen(tm) Tech file Generator.
* FullVersion        : 20.1.2-p025
* BuildNumber        : 025 
* IRBuildNumber      : 025 
* VersionDate        : Thu Sep 3 13:54:09 PDT 2020
* Bitness            : 64-bit
* 
*
process s130
*
*| temp_reference 30
*| auto_reorder_off true
*
deposition
*step #  material   p/n                 name        thick    diel.   side     bot     angle
step  1  substrate                       FOX       0.2231  3.9
step  1  substrate            N_SOURCE_DRAIN       0.1031  3.9
step  2  metal                           ply       0.2  s,w:0.21,0.15,0,-0.0075:0.21,1.5,0,-0.0075:2.1,0.15,0,-0.0075:2.1,1.5,0,-0.0075 0,0  
step  3  dielectric n                    IOX       0   3.9   sidewall(0.006)   0   auto_angle
step  4  dielectric n                  SPNIT       0.1525   7.5   sidewall(0.0431)   0   auto_angle
step  5  dielectric p                    PSG       0.1161  3.9
step  6  metal                            li       0.115  s,w:0.17,0.17,0.0115,0.0185:0.17,1.7,0.0115,0.0185:1.7,0.17,0.0115,0.0185:1.7,1.7,0.0115,0.0185 0.0043,-0.0043  
step  7  dielectric n                   LINT       0.0825   7.3   sidewall(0.066813)   0.0825   auto_angle
step  8  dielectric p                  NILD2       0.1245  3.9
step  9  metal                            m1       0.39  s,w:0.14,0.14,0.0103,-0.007:0.14,1.4,0.0103,-0.007:1.4,0.14,0.0103,-0.007:1.4,1.4,0.0103,-0.007 0.0027,-0.0027  
step 10  dielectric p                  NILD3       0.11  4.3
step 11  metal                            m2       0.39  s,w:0.14,0.14,0.0103,-0.007:0.14,1.4,0.0103,-0.007:1.4,0.14,0.0103,-0.007:1.4,1.4,0.0103,-0.007 0.0027,-0.0027  
step 12  dielectric p                  NILD4       0.2592  4.2
step 13  metal                            m3       0.925  s,w:0.3,0.3,0.014,0.02:0.3,3,0.014,0.02:3,0.3,0.014,0.02:3,3,0.014,0.02 0,0  
step 14  dielectric p                  NILD5       0.18  4.1
step 15  metal                            m4       0.925  s,w:0.3,0.3,0.014,0.02:0.3,3,0.014,0.02:3,0.3,0.014,0.02:3,3,0.014,0.02 0,0  
step 16  dielectric p                  NILD6       0.296  4.1
step 17  metal                            m5       1.386  s,w:1.6,0.8,0,0.04:1.6,8,0,0.04:16,0.8,0,0.04:16,8,0,0.04 0.0291,-0.0291  
step 18  dielectric n                  TOPOX       0.0769   3.9   sidewall(0.059747)   0   auto_angle
step 19  dielectric n                 TOPNIT       0.4318   7.5   sidewall(0.506454)   0.4534   auto_angle
step 20  dielectric p                    PI1       3.2453  3.5
step 21  metal                           rdl       5  s,w:5,10,0,0.5:5,100,0,0.5:50,10,0,0.5:50,100,0,0.5 0,0  
step 22  dielectric p                    PI2       1  2.95
step 23  dielectric p                   MOLD       40  3.6
step 24  dielectric p                    air       40  1
enddeposition

metal_variations auto_comb
layer ply w  0.15 
layer ply s  0.21 
layer li w  0.17 
layer li s  0.17 
layer m1 w  0.14 
layer m1 s  0.14 
layer m2 w  0.14 
layer m2 s  0.14 
layer m3 w  0.3 
layer m3 s  0.3 
layer m4 w  0.3 
layer m4 s  0.3 
layer m5 w  0.8 
layer m5 s  1.6 
layer rdl w  10 
layer rdl s  5 
endmetal_variations

endprocess

