*
* Techgen(tm) Tech file Generator.
* FullVersion        : 19.1.3-s062
* BuildNumber        : 062 
* IRBuildNumber      : 062 
* VersionDate        : Tue Jul 23 02:42:20 PDT 2019
* Bitness            : 64-bit
* 
*
process s130
*
*| temp_reference 30
*| auto_reorder_off true
*
deposition
*step #  material   p/n                 name        thick    diel.   side     bot     angle
step  1  substrate                       FOX       0.4293  3.9
step  1  substrate            N_SOURCE_DRAIN       0.3093  3.9
step  2  metal                           ply       0.16  s,w:0.21,0.15,0,-0.0485:0.21,1.5,0,-0.0485:2.1,0.15,0,-0.0485:2.1,1.5,0,-0.0485 0,0  
step  3  dielectric n                    IOX       0   3.9   sidewall(0.006)   0   auto_angle
step  4  dielectric n                  SPNIT       0.1065   7.5   sidewall(0.0431)   0   auto_angle
step  5  dielectric p                    PSG       0.4812  3.9
step  6  metal                            li       0.08  s,w:0.17,0.17,-0.0115,-0.0015:0.17,1.7,-0.0115,-0.0015:1.7,0.17,-0.0115,-0.0015:1.7,1.7,-0.0115,-0.0015 0.003,-0.003  
step  7  dielectric n                   LINT       0.0675   7.3   sidewall(0.054846)   0.0675   auto_angle
step  8  dielectric p                  NILD2       0.405  3.9
step  9  metal                            m1       0.33  s,w:0.14,0.14,-0.0103,-0.032:0.14,1.4,-0.0103,-0.032:1.4,0.14,-0.0103,-0.032:1.4,1.4,-0.0103,-0.032 0,0  
step 10  dielectric n                NILD3_C       0   3.3   sidewall(0.04)   0   auto_angle
step 11  dielectric p                  NILD3       0.43  4.5
step 12  metal                            m2       0.33  s,w:0.14,0.14,-0.0103,-0.032:0.14,1.4,-0.0103,-0.032:1.4,0.14,-0.0103,-0.032:1.4,1.4,-0.0103,-0.032 0,0  
step 13  dielectric n                NILD4_C       0   3.3   sidewall(0.04)   0   auto_angle
step 14  dielectric p                  NILD4       0.581  3.9
step 15  metal                            m3       0.765  s,w:0.3,0.3,0.016,-0.045:0.3,3,0.016,-0.045:3,0.3,0.016,-0.045:3,3,0.016,-0.045 0,0  
step 16  dielectric p                  NILD5       0.547  3.9
step 17  metal                            m4       0.765  s,w:0.3,0.3,0.016,-0.045:0.3,3,0.016,-0.045:3,0.3,0.016,-0.045:3,3,0.016,-0.045 0,0  
step 18  dielectric p                  NILD6       0.662  4
step 19  metal                            m5       1.134  s,w:1.6,0.8,-0.05,-0.13:1.6,8,-0.05,-0.13:16,0.8,-0.05,-0.13:16,8,-0.05,-0.13 0.0238,-0.0238  
step 20  dielectric n                  TOPOX       0.1031   3.9   sidewall(0.080129)   0   auto_angle
step 21  dielectric n                 TOPNIT       0.6482   7.5   sidewall(0.337403)   0.302   auto_angle
step 22  dielectric p                    PI1       5.75  2.94
step 23  metal                           rdl       3  s,w:5,10,0,-0.5:5,100,0,-0.5:50,10,0,-0.5:50,100,0,-0.5 0,0  
step 24  dielectric p                    PI2       6  2.8
step 25  dielectric p                   MOLD       40  3.6
step 26  dielectric p                    air       40  1
enddeposition

metal_variations auto_comb
layer ply w  0.15 
layer ply s  0.21 
layer li w  0.17 
layer li s  0.17 
layer m1 w  0.14 
layer m1 s  0.14 
layer m2 w  0.14 
layer m2 s  0.14 
layer m3 w  0.3 
layer m3 s  0.3 
layer m4 w  0.3 
layer m4 s  0.3 
layer m5 w  0.8 
layer m5 s  1.6 
layer rdl w  10 
layer rdl s  5 
endmetal_variations

endprocess

